*{
  color: white;
}
body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(71, 118, 155);
}

p {
    font-family: "Avenir", sans-serif;
}

header {
    font-family: "Century", serif;
    text-align: center;
    background-color(131,185, 224);
  height: 100%;

}

img {
    width: 35%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-right {
    margin-right: 15px;
}
.header-width{
  width: 30%;
}
.body-width{
  width: 70%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer{
  text-align: center;
}
