* {
    font-family: "Avenir", sans-serif;
}

body {
    background-color: rgb(71, 118, 155);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 50%;
    margin-right: 20px;
}

.float-left {
    float: left;
}