
*{
    font-family: "Avenir";
}
body{
    margin-left: auto;
    margin-right:auto;
    width:90%;
}
/* Interactive Banner*/
header{
    width:800px;
    height: 250px;
    margin-left: auto;
    margin-right:auto;
}

.floater{
    float:left;
}
.col-3{
    width: 33.33%;
}
h1, h2{
    color:black;
    text-align:center;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(0,204,255)
}
footer{
    clear:both;
    text-align: center
}
#mySketch{
    width:800px;
    height: 250px;
    
}
