
*{
    font-family: "Avenir";
}
body{
  background-color: rgb(71, 118, 155);
    margin-left: auto;
    margin-right:auto;
    width:90%;
}
/* Interactive Banner*/
header{
    width:800px;
    height: 250px;
    margin-left: auto;
    margin-right:auto;
}

.floater{
    float:left;
}
.col-3{
    width: 33.33%;
}
h1, h2{
    color:white;
    text-align:center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
footer{
    clear:both;
    text-align: center
}
#mySketch{
    width:800px;
    height: 250px;

}
